/Fall\ 2023\airbreathing\*.log
/Fall\ 2023\airbreathing\*.aux
/Fall\ 2023\airbreathing\*.gz
/Fall\ 2023\airbreathing\images\
/Fall\ 2023\solidmech2\*.log
/Fall\ 2023\solidmech2\*.aux
/Fall\ 2023\solidmech2\*.gz
/Fall\ 2023\solidmech2\images\
/Fall\ 2023\fmc\flight mech\lib\__pycache__\