C:\Users\spbro\SchoolStuff\Fall 2023\airbreathing\*.log
C:\Users\spbro\SchoolStuff\Fall 2023\airbreathing\*.aux
C:\Users\spbro\SchoolStuff\Fall 2023\airbreathing\*.gz
C:\Users\spbro\SchoolStuff\Fall 2023\airbreathing\images\
C:\Users\spbro\SchoolStuff\Fall 2023\solidmech2\*.log
C:\Users\spbro\SchoolStuff\Fall 2023\solidmech2\*.aux
C:\Users\spbro\SchoolStuff\Fall 2023\solidmech2\*.gz
C:\Users\spbro\SchoolStuff\Fall 2023\solidmech2\images\
C:\Users\spbro\SchoolStuff\Fall 2023\fmc\flight mech\lib\__pycache__\