/Fall 2023/airbreathing/*.log
/Fall 2023/airbreathing/*.aux
/Fall 2023/airbreathing/*.gz
/Fall 2023/airbreathing/*.bbl
/Fall 2023/airbreathing/*.blg
/Fall 2023/airbreathing/images/
/Fall 2023/solidmech2/*.log
/Fall 2023/solidmech2/*.aux
/Fall 2023/solidmech2/*.gz
/Fall 2023/solidmech2/*.log
/Fall 2023/solidmech2/*.bbl
/Fall 2023/solidmech2/*.blg
/Fall 2023/solidmech2/*.asv
/Fall 2023/solidmech2/images/
/Fall 2023/fmc/flight mech/lib/__pycache__/
/.vscode/
/Fall 2023/airbreathing/__pycache__/
/Fall 2023/fmc/controls/lib/__pycache__/
*.png